<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game js</title>
    <link rel="stylesheet" href="/assets/styles/styles.css">
</head>
<body>
    <div id="game">
        <div id="map">
            <div id="colisions"></div>
            <div id="locations"></div>
        </div>
        <div id="player"></div>
        <div id="popup"></div>
    </div>    
    <script src="/assets/js/popup.js"></script>
    <script src="/assets/js/debug.js"></script>
    <script src="/assets/js/Position.js"></script>
    <script src="/assets/js/gameConfig.js"></script>
    <script src="/assets/js/load.js"></script>
    <script src="/assets/js/Rectangle.js"></script>
    <script src="/assets/js/LocationObject.js"></script>
    <script src="/assets/js/GlobalMap.js"></script>
    <script src="/assets/js/Player.js"></script>
    <script src="/assets/js/MapState.js"></script>
    <script src="/assets/js/statusMachine.js"></script>
    <script src="/assets/js/mainLoop.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>